html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #0e1012;
    cursor: none;
}

::selection {
    background-color: #9fff7c40;
}

/* .home {
    overflow: hidden;
} */

.home h2 {
    font-size: max(calc(4vw + 16px), 24px);
    font-weight: 900;
    color: #fafffd;
    margin-block-start: 0;
}

.home h3 {
    font-size: max(12px, calc(1vw + 4px));
    color: #a3a2a2;
    font-weight: 400;
    line-height: 2;
    padding-block-start: 30px;
}

#menu {
    background-color: #0e101244;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    height: 90px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
}



.flip {
    position: relative;
    display: inline-flex;
    margin: 0;
    vertical-align: top;
    color: #9EFF7C;
    /* pointer-events: all; */
    font-family: "Fugaz One", sans-serif;
}

.flip .word {
    position: absolute;
    display: flex;
    opacity: 0;
    padding-block: 12px;
    background-color: transparent;
    padding-inline: 40px;
    border-radius: 300pt;
    margin-inline-start: calc(2vw - 20px);
    top: -10px;
    transform: skew(5deg);
    -webkit-transform: skew(5deg);
}

.neon {
    background-image: linear-gradient(to right, rgb(158, 255, 124), rgb(255, 252, 65));
}

.lights {
    width: 30%;
    height: 30%;
    background-color: #9EFF7C;
    border-radius: 50%;
    filter: blur(500px);
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}


/* .flip .word:has(.letter.in)::after {
    content: "  ⬝ ";
    position: absolute;
    color: #9EFF7C;
    inset-inline-end: calc(-2vw + 15px);
} */

.flip .word .letter {
    transform: rotate3d(0deg);
    transform-origin: center center 25px;
}

.flip .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.flip .word .letter.in {
    transition: 0.38s ease;
}

.flip .word .letter.behind {
    transform: rotateX(-90deg);
}

/* #fp-nav {
    background-color: #fafffd !important;
    padding-inline: 12px;
    padding-block: 40px;
    border-radius: 300pt;
    z-index: 5 !important;
    cursor: none !important;
} */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: 20px;
    padding-inline: 45px;
}

.button {
    padding-block: 5px;
    padding-inline-start: 25px;
    padding-inline-end: 5px;
    border-radius: 30px;
    font-size: calc(0.7vw + 10px);
    border: none;
    background-color: #fafffd;
}

.arrow {
    margin-inline-start: 10px;
    font-weight: lighter;
    display: inline-block;
}

.arrow-bg {
    padding: 12px 16px;
    background-color: rgb(216, 216, 216);
    border-radius: 300px;
}

:where(.button, li):is(:hover, :focus, :focus-within) .arrow {
    rotate: 360deg;
    transition: rotate 0.2s ease-in-out;
}


.home {
    display: grid;
    grid-template-columns: 0.85fr 1fr;
    align-items: center;
    position: relative;
}

#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: #9EFF7C;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;

}

#cursor-border {
    --size: 50px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px white;
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
        height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 999;
}


.aframebox {
    display: block;
    z-index: 0;
}


.content-container {
    position: relative;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    z-index: 3;
    width: 100%;
    padding-inline: 10%;
    margin-block-start: -15vh;
}

.footer {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    inline-size: 100%;
    min-block-size: 25vh;
    background-color: #fafffd;
    border-radius: 40px 40px 0 0;
    padding-block: 30px;
    font-size: calc(0.7vw + 10px);
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style-type: none;
    line-height: 2;
}

footer center {
    font-size: max(calc(0.6vw + 5px), 12px);
}

li:hover {
    display: block;
    position: relative;
    scale: 1.05;
    translate: 1px 1px;
    transition: scale 0.2s ease-in-out, translate 0.2s ease-in-out;
}

footer img {
    padding-inline-start: calc(3vw + 10px);
}

footer center {
    padding-block-start: 20px;
}



.difference {
    mix-blend-mode: difference;
}

.neon {
    background-image: linear-gradient();
}

.go-to-next-page {
    position: absolute;
    z-index: 2;
    cursor: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fafffd;
    bottom: 0;
    left: 50%;
    translate: -50% -50%;
    background-image: url(./JoinWrkble.svg);
    background-size: 100%;
    text-decoration: none;
    animation: spin 3s linear 0.5s infinite;
}

/* .go-to-next-page:hover,
.next-page:hover+.go-to-next-page {
    animation-play-state: paused;
} */

.next-page {
    position: absolute;
    height: 30px;
    bottom: 38px;
    left: 50%;
    translate: -50% -50%;
    z-index: 3;
    pointer-events: none;
}

.plank {
    position: absolute;
    bottom: -60px;
    left: calc(50% + 6px);
    translate: -50% -50%;
    z-index: 2;
    pointer-events: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.cards {
    position: absolute;
    left: 6%;
    bottom: -10%;
    z-index: 1;
}


.cards a {
    cursor: none;
}

.cards .pro {
    rotate: -15deg;
    height: min(calc(10vw + 25vh), 300px);
}

.cards .lrn {
    rotate: 5deg;
    height: min(calc(10vw + 25vh), 300px);
}

.cards :is(.pro, .lrn):hover {
    translate: 0 -10px;
    transition: all 0.3s ease;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes anti-spin {
    from {
        rotate: 360deg;
    }

    to {
        rotate: 0deg;
    }
}

.go-to-next-page img {
    translate: 25px 20px
}

.disable {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 1;

}

@media screen and (orientation: portrait) {
    .landscape {
        display: none;
    }

    .content-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        z-index: 3;
        width: 100%;
        margin-block-start: 0;
    }

}

@media screen and (orientation: landscape) {
    .portrait {
        display: none;
    }
}